<!-- <ion-content>
  <ion-slides [pager]="false">
    <ion-slide *ngFor="let slide of slides">
      <ion-list-header>

          <ion-toolbar>
            <ion-buttons left>
              <button ion-button icon-only *ngIf="slide.parentSlide" (click)="slideTo(slide.parentSlide?.slideIndex)">
                <ion-icon name="arrow-back"></ion-icon>
              </button>
            </ion-buttons>
            <ion-title>{{ slide.parentSlideItem ? slide.parentSlideItem?.name : "Please Select" }}</ion-title>
            <ion-buttons right>
              <button ion-button icon-only (click)="close()">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-buttons>
          </ion-toolbar>

      </ion-list-header>

      <ion-list no-lines>

        <ion-item class="parent-item" *ngIf="slide.parentSlide && allowParent" (click)="itemSelected(slide.parentSlideItem)">
          {{ slide.parentSlideItem?.name }}
        </ion-item>

        <ion-item [ngClass]="{ 'selected': item.selected }" *ngFor="let item of slide.items" (click)="handleItemClick(item)">
          {{ item.name }}
          <ion-icon *ngIf="item.nextSlideIndex !== null" item-right name="arrow-forward"></ion-icon>
        </ion-item>

      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content> -->